body {
    background-color: #E5E5E5;
    font-family: 'Montserrat', sans-serif;
}

/* Right section styles */

.right-section{
    padding-left: 160px;
    padding-right: 150px;
    background-color: #FFF;
}

.about-me-profession{
    color: black;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    margin-top: 100px;
}

#personName {
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 55px;
    margin-top: 5px;
}

li {
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
}

.main-section{
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    margin: 40px auto;
}

.about-me-section{
    width: 440px;
    text-align: justify;
}

.about-me-section p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

.projects-section{
    /* margin-top: 40px; */
    margin: 40 px 0 0 0;
}

.block-title {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
}

.projects-section ol {
    padding-left: 18px;
}

ol li, .bracket {
    color: #000;
    font-weight: 700;
    text-align: justify;
}

.projects-name {
    margin-top: 15px;
}

.projects-item {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-decoration-line: underline;
    color: #595959;
}

.projects-item a {
    color: #595959;
}

.work-experience-section {
    margin-top: 50px;
}

.work-experience-position {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
}

.work-experience-company {
    color: #FB6D3A;;
}

.period {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;
}

.line-break{
    color: #000;
}

.work-experience-duties li{
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

.work-experience-duties{
    padding-left: 18px;
}

.education-institution {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FB6D3A;
    margin-top: 25px;
}

.education-degree {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000;
}

.education-section {
    margin-top: 40px;
    margin-bottom: 110px;
}

/* Sidebar styles */

.sidebar-section{
    background-color: #1E2939;
    width: 370px;
}

.sidebar-section img {
    margin-top: 40px;
}

.sidebar-title {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #FFF;
}

.contacts-section, .skills-section {
    margin-left: 40px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #FFF;
}

.contacts-section-type {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #FFF;
    margin-right: 10px;
}

.contacts-section-value {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #8E949C;
}

.sidebar-list {
    color: #FB6D3A;
    padding-left: 20px;
}

.sidebar-list span {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #FFF;
}