*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body
{
  font-family: 'Montserrat', sans-serif;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.active:hover
{
  background-color: white;
  color: #070f4e;
  transition: 0.5s;
}

/* About page */

.about-page-section {
    font-size: 15px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

#about-page
{
  margin-bottom: 20px;
}

/* About Me page */

.main-section
{
  display: flex;
  flex-direction: column;
}

.about-me-section
{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  gap: 150px;
  margin-top: 50px;
  margin-bottom: 30px;
}

.about-me-details
{
  align-items: left;
  margin-bottom: 10px;
}

.button-container
{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.contact-btn{
  text-decoration: none;
  font-size: 1rem;
  padding: 0.55rem;
  font-weight: 600;
  text-transform: uppercase;
  border: 2px solid #070f4e;
  border-radius: 20px;
  width: 170px;
  background-color:#070f4e;
  color: white;
}

.contact-btn:hover{
  background: transparent;
  border-color: #070f4e;
  color: #000;
  transition: 0.5s;
}

@media (max-width: 1300px)
{
    .about-me-section{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}  

/* Skills page */

#page-title {
  display: flex;
  color: white;
  height: 150px;
  margin: 0 auto;
  width: 100%;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  letter-spacing: 4px;
}

.skills-section
{
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#my-skills
{
  margin: 30px;
  font-size: 30px;
  color: #070f4e;
}

.skills-list
{
  font-size: 20px;
  color:#011631;
  margin-bottom: 30px;
  font-weight: 600;
}

#home-button{
    padding-left: 50px;
    padding-right: 50px;
    background-color:rgb(188, 220, 231);
    width: 100px;
    text-align: justify;
    color: #000000;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

li a:hover{
  transition: 0.5s;
}

/* Contacts page */

.contacts-section {
  margin-left: 40px;
  margin-right: 40px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}

.contacts-section-type {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #095ad3;
  margin-right: 10px;
}

.contacts-section-value {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #011631;
}

/* Theme Colors */

.first-color { 
	background: #070f4e; 
}
	
.second-color { 
	background: rgb(0,99,255);
  background: radial-gradient(circle, rgba(0,99,255,1) 0%, rgba(145,90,255,1) 100%); 
}

.third-color { 
	background: #3ab1c8; 
}

.fourth-color { 
	background: #f5ebeb; 
}

.about-wrapper{
  height: 100vh;
}
.about-left{
  background: #070f4e;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.about-left-content > div{
  background: #3ab1c8;
  padding: 4rem 4rem 2.5rem 5rem;
  text-align: center;
  
}
.about-left-content{
  box-shadow: 0px 0px 18px -1px rgba(0, 0, 0, 0.39);
  -webkit-box-shadow: 0px 0px 18px -1px rgba(0, 0, 0, 0.39);
  -moz-box-shadow: 0px 0px 18px -1px rgba(0, 0, 0, 0.39);
}
.about-img img{
  display: block;
  width: 200px;
}
.about-img{
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  transition: all 0.5s ease-in-out;
}
.shadow{
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  position: relative;
  /* cursor: pointer; */
}
.shadow::after{
  content: "";
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  left: 50%;
  transform: translateX(-50%);
  bottom: -20px;
  height: 7px;
  width: 50px;
  filter: blur(3px);
  -webkit-filter: blur(3px);
  opacity: 0;
  transition: all 0.6s ease;
}
.shadow:hover .about-img{
  transform: translateY(-10px);
}
.shadow:hover::after{
  opacity: 1;
}
.about-left-content h2{
  font-size: 2rem;
  margin: 2.2rem 0 0.6rem 0;
  line-height: 1.2;
  padding-bottom: 1rem;
  border-bottom: 2px solid #edffec;
}
.about-left-content h3{
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 5px;
  margin-top: 1.2rem;
}
.icons{
  background: #fff;
  display: flex;
  justify-content: center;
  padding: 0.8rem 0;
}
.icons li{
  list-style-type: none;
  background: #070f4e;
  color: #fff;
  width: 40px;
  height: 40px;
  margin: 0 0.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.icons li a:hover{
  background: white;
  color: #000;
}
.about-right{
  background: #fff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 5rem;
  text-align: center;
}
.about-right h1{
  font-size: 7rem;
  text-transform: uppercase;
}
.about-right h1 span{
  color: #3ab1c8;
}
.about-right h2{
  font-weight: 600;
}
.about-btns{
  display: flex;
  margin: 2rem 0;
}
.btn{
  border: none;
  font-size: 0.9rem;
  text-transform: uppercase;
  border: 2px solid #000;
  border-radius: 20px;
  padding: 0.55rem 0;
  width: 130px;
  font-weight: 600;
  background: transparent;
  margin: 0 0.5rem;
  cursor: pointer;
}
.btn.btn-blue{
  background: #070f4e;
  color: #fff;
  border-color: #070f4e;
  transition: all 0.5s ease-in-out;
  text-decoration: none;
}
.btn.btn-blue:hover{
  background: transparent;
  border-color: #070f4e;
  color: #000;
}
.btn.btn-white{
  transition: all 0.5s ease-in-out;
  text-decoration: none;
}
.btn.btn-white:hover{
  background: #070f4e;
  border-color: #070f4e;
  color: #fff;
}

.btn.btn-blue.btn.btn-white::after{
  text-decoration: none;
}
.about-para p{
  font-weight: 300;
  padding: 0.5rem;
  opacity: 0.8;
}

@media screen and (min-width: 992px){
  .about-wrapper{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
  }
  .about-left{
      position: relative;
  }
}

/* Contact page */

.container{
  width: 85%;
  background: #fff;
  border-radius: 6px;
  padding: 20px 60px 30px 40px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.container .content{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
}
.container .content .left-side{
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  position: relative;
}
.content .left-side::before{
  content: '';
  position: absolute;
  height: 70%;
  width: 2px;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  background: #afafb6;
}
.content .left-side .details{
  margin: 14px;
  text-align: center;
}
.content .left-side .details i{
  font-size: 30px;
  color: #070f4e;
  margin-bottom: 10px;
}
.content .left-side .details .topic{
  font-size: 18px;
  font-weight: 500;
}
.content .left-side .details .text-one,
.content .left-side .details .text-two{
  font-size: 14px;
  color: #919191;
  text-decoration: none;
}

.content .right-side .topic-text{
  font-size: 23px;
  font-weight: 600;
  color: #070f4e;
  margin-bottom: 10px;
}
.right-side .input-box{
  height: 50px;
  width: 100%;
  margin: 12px 0;
}
.right-side .input-box input,
.right-side .input-box textarea{
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  background: #F0F1F8;
  border-radius: 6px;
  padding: 0 15px;
  resize: none;
  font-family: 'Montserrat', sans-serif;
}
.right-side .message-box{
  min-height: 110px;
}
.right-side .input-box textarea{
  padding-top: 6px;
}
.right-side .send-btn{
  display: inline-block;
  margin-top: 12px;
}
.right-side .send-btn input[type="button"]{
  color: #fff;
  font-size: 18px;
  outline: none;
  border: none;
  padding: 8px 16px;
  border-radius: 50px;
  background: #070f4e;
  cursor: pointer;
  transition: all 0.5s ease;
  text-transform: uppercase;
}
.send-btn input[type="button"]:hover{
  background: white;
  border: 2px solid;
  border-radius: 50px;
  color: #070f4e;
  border-color: #070f4e;
}
@media (max-width: 1440px) {
  .container{
    width: 90%;
    padding: 30px 40px 40px 35px ;
  }
  .container .content .right-side{
   width: 75%;
   margin-left: 55px;
}
}
@media (max-width: 820px) {
  .container{
    margin: 40px 0;
    height: 100%;
  }
  .container .content{
    flex-direction: column-reverse;
  }
 .container .content .left-side{
   width: 100%;
   flex-direction: row;
   margin-top: 40px;
   justify-content: center;
   flex-wrap: wrap;
 }
 .container .content .left-side::before{
   display: none;
 }
 .container .content .right-side{
   width: 100%;
   margin-left: 0;
 }
}

.btn-container
{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

#btn1, #btn2
{   
    width: 35px;
    font-size: 20px;
}

#smiley
{
    font-size: 30px;
    margin: 0px 40px 0px 40px
}

/* Image section */

.img-container
{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#btn1:hover, #btn2:hover
{
  cursor: pointer;
}

#btnLeft, #btnRight
{
  background-color: white;
  border: 0px;
}

#btnLeft:hover, #btnRight:hover
{
  cursor: pointer;
}

#image1, #image2
{
  box-shadow: 5px 5px 5px rgb(218, 218, 218);
  margin-top: 10px;
  margin-right: 10px;
}

#image1, #image2
{
  margin-left: 10px;
}

#buttonRight
{
  margin: 10px;
}